	<div class="container">
		<h1>Welcome to Taskify!</h1>
		<hr />
		<P>There are <strong>{{model.openTasks.length}}</strong> open {{#link-to "task"}}tasks{{/link-to}} out of total <strong>{{model.tasks.length}}</strong> in the system</P>
	</div>
	
