<div class="container">
	<h1>Components Demo</h1>
	<hr />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Toggle button</h3>
  </div>
  <div class="panel-body">
    {{toggle-button activeLabel="Turn me off now :)" inactiveLabel="Turn me On please.."
    activateAction=toggleButtonOn deactivateAction=toggleButtonOff}}
  </div>
</div>
</div>